@charset "UTF-8";

.admin_point_max_box{
	width:1000px;
	height:60px;
	background-color: #abbfd0;
	margin: auto;
	border-bottom:1px solid black;
	text-align: center;
	line-height:60px;	/*글자 세로 가운데 정렬*/
	font-size:17pt;
	font-weight: bold;
}

.admin_point_max_box2{
	width:1000px;
	height:50px;
	background-color: #abbfd0;
	margin: auto;
	border-bottom:1px solid black;
}

.admin_point_box{
	width:1000px;
	height:360px;
	background-color: #abbfd0;
	margin: auto;
	border-bottom:1px solid black;
}

.admin_point_page_box{
	width:1000px;
	height:50px;
	background-color: #abbfd0;
	margin: auto;
	border-bottom:1px solid black;
	text-align: center;
	line-height:50px;	/*글자 세로 가운데 정렬*/
	font-size:12pt;
	font-weight: bold;
}

.admin_point_page{
	width:1000px;
	height:50px;
	background-color: #abbfd0;
	margin: auto;
	border-bottom:1px solid black;
	line-height:50px;	/*글자 세로 가운데 정렬*/
	font-size:12pt;
	font-weight: bold;
	float: left;
}

.admin_point_subject{
	width:250px;
	height:50px;
	background-color: #abbfd0;
	margin: auto;
	text-align: center;
	line-height:50px;	/*글자 세로 가운데 정렬*/
	font-size:12pt;
	font-weight: bold;
	float: left;
}
