@charset "UTF-8";

#w20_left{
	width:650px;
	display:inline-block;
}
#w20_right{
	width:450px;
	display:inline-block;
}

.join_main_box{
	width:1900px;
}

.join_mid_box{
	width:800px;
	margin: auto;
	display:inline-block;
	font-size:13px;
	font-weight: bold;
}

.join_main_name{
	height:40px;
	text-align: center;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	font-size:17pt;
	font-weight: bold;
}

.join_name_box{
	width:190px;
	height:35px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	display:inline-block;
}

.join_id_check_box{
	width:70px;
	height:40px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	font-size:11px;
	text-align: center;
	cursor:pointer;
	display:inline-block;
	border:1px solid #f0f0f0;
	background:#f0f0f0;
}

.join_id_check_box:hover{
	width:70px;
	height:40px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	font-size:11px;
	text-align: center;
	cursor:pointer;
	display:inline-block;
	border:1px solid #ef9696;
	background:#ef9696;
}

.join_id_input_box{
	width:222px;
	height:40px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	border:1px solid #f0f0f0;
	display:inline-block;
}

.join_input_box{
	width:300px;
	height:40px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	border:1px solid #f0f0f0;
	display:inline-block;
}

.join_input_jender{
	width:20px;
	height:20px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	border:1px solid #f0f0f0;
}

.join_button_box{
	width:300px;
	height:40px;
	margin-left:150px;
	cursor:pointer;
	text-align: center;
	font-weight: bold;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	border:1px solid #f0f0f0;
	background:#f0f0f0;
}

.join_button_box:hover{
	width:300px;
	height:40px;
	margin-left:150px;
	cursor:pointer;
	text-align: center;
	font-weight: bold;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	border:1px solid #ef9696;
	background:#ef9696;
}

.join_address_search{
	width:306px;
	height:40px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	font-weight: bold;
	border:1px solid #f0f0f0;
	display:inline-block;
	background:#f0f0f0;
}

.join_address_search:hover{
	width:306px;
	height:40px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	font-weight: bold;
	cursor:pointer;
	display:inline-block;
	border:1px solid #ef9696;
	background:#ef9696;
}

.join_address_box{
	width:300px;
	height:25px;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	border:1px solid #f0f0f0;
	display:inline-block;
}

.join_line{
	width:510px;
	height:10px;
	border-bottom:1px solid black;
}
