@charset "UTF-8";

.my_buy_pro_name{
	width:400px;
	height:100px;
	background-color:#a5d1f6;
	line-height:100px;	/*글자 세로 가운데 정렬*/
	font-size:18pt;
	color: #00d800;
	font-weight: bold;
}

.my_buy_pro_box{
	width:240px;
	height:53px;
	background-color:#a5d1f6;
	line-height:53px;	/*글자 세로 가운데 정렬*/
	font-size:16pt;
	text-align: center;
	color: #00d800;
	font-weight: bold;

}

.my_buy_pro_pages{
	width:100%;
	height:40px;
	background-color:#a5d1f6;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	text-align:center;
	font-size:18pt;
	color: #00d800;
	font-weight: bold;
}

/*---------my_buy 끝---------------*/