@charset "UTF-8";

.my_save_list_all_box{
	width:900px;
	margin: auto;
}

.my_save_list_main_name_box{
	width:900px;
	height: 50px;
	line-height:50px;	/*글자 세로 가운데 정렬*/
	font-size:25px;
	text-align: center;
	cursor:pointer;
	display:inline-block;
	border-bottom: 2px solid #d1d1d1;
}

.my_save_list_name_all_box{
	width:900px;
	height: 600spx;
	border-bottom: 2px solid #d1d1d1;
}

.my_save_list_name_box{
	width:900px;
	height: 200px;
	border-bottom: 2px solid #d1d1d1;
}

.my_save_list_img1{
	width:196px;
	height: 200px;
	float: left;
	border-left: 2px solid #d1d1d1;
	border-right: 2px solid #d1d1d1;
	background:#f8f8f8;
}

.my_save_list_name_box2{
	width:444px;
	height: 200px;
	float: left;
	border-right: 2px solid #d1d1d1;
}

.my_save_list_name_box3{
	width:150px;
	height: 200px;
	border-right: 2px solid #d1d1d1;
	float: left;
	margin: auto;
	line-height:200px;	/*글자 세로 가운데 정렬*/
	font-size:15pt;
	font-weight: bold;
}

.my_save_list_name_box4{
	width:100px;
	height: 200px;
	border-right: 2px solid #d1d1d1;
	float: left;
	margin: auto;
	line-height:200px;	/*글자 세로 가운데 정렬*/
	font-size:15pt;
	font-weight: bold;
}

.my_save_list_name2_box2{
	width:444px;
	height: 78px;
	line-height:98px;	/*글자 세로 가운데 정렬*/
	font-size:15pt;
	font-weight: bold;
	border-bottom: 2px solid #d1d1d1;
}

.my_save_list_name3_box2{
	width:444px;
	height: 100px;
	line-height:78px;	/*글자 세로 가운데 정렬*/
	font-size:15pt;
	font-weight: bold;
}

.my_save_list_button1{
	width:130px;
	height: 40px;
	text-align:center;
	margin: auto;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	font-size:13pt;
	font-weight: bold;
}

.my_save_list_button2{
	width:60px;
	height: 40px;
	text-align:center;
	margin: auto;
	line-height:40px;	/*글자 세로 가운데 정렬*/
	font-size:13pt;
	font-weight: bold;
}

.my_save_list_main_page_box{
	width:900px;
	height: 50px;
	line-height:50px;	/*글자 세로 가운데 정렬*/
	font-size:13pt;
	text-align: center;
	cursor:pointer;
	display:inline-block;
}